WpfApplication/Connected Services/CityService/CityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/Services/CityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherApp.WebApplication.Models" />
  <xs:element name="GetCityList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherApp.WebApplication.Models" minOccurs="0" name="GetCityListResult" nillable="true" type="q1:ArrayOfCityViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>