WpfApplication/Connected Services/WeatherService/WeatherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherApp.WebApplication.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherApp.WebApplication.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherDataViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:long" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaxTemp" type="xs:int" />
      <xs:element minOccurs="0" name="MinTemp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherDataViewModel" nillable="true" type="tns:WeatherDataViewModel" />
</xs:schema>